services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app  # live reload
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
